<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
	   http://www.springframework.org/schema/mvc
       http://www.springframework.org/schema/mvc/spring-mvc.xsd">

    <context:component-scan base-package="com.yuan.*"/>
    <context:property-placeholder location="classpath*:**/*.properties" ignore-unresolvable="true"/>
    <context:annotation-config/>
    <mvc:default-servlet-handler/>



    <!--<import resource="applicationContext-redis.xml"/>-->
    <!--<import resource="applicationContext-jedis.xml"/>-->
    <import resource="applicationContext-rocket.xml"/>

</beans>